//fuentes poppins
$Poppins: 'Poppins', sans-serif;
$Roboto: 'Roboto', sans-serif;

*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    
}

a{
    text-decoration: none;
}


    h6{

        font-family: $Roboto;
        font-weight: 300;
    
    }
   



.boton{
    background-color: #161616;
    padding: 4% 5%;
    font-family: $Poppins;
    color: rgb(255, 255, 255);
    border-radius: 20px;

    &:hover{
        background-color: #393838;
        color: rgb(255, 255, 255);
    }
}

.boton2{
    background-color: #161616;
    padding: 2% 4%;
    font-family: $Poppins;
    color: rgb(255, 255, 255);
    border-radius: 20px;

    &:hover{
        background-color: #393838;
        color: rgb(255, 255, 255);
    }
}

.boton3{
    background-color: #161616;
    padding: 2% 2%;
    font-family: $Poppins;
    color: rgb(255, 255, 255);
    border-radius: 20px;

    &:hover{
        background-color: #393838;
        color: rgb(255, 255, 255);
    }
}


.barranav{
    font: $Poppins;
    color: rgb(255, 255, 255); 
    background-color: #161616;
}

.textohednav{
    font: $Poppins;
}

.seccion1{
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    
}

.center{ //para centrar imagenes
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.seccion2{
    font-family: $Roboto;
}

.footer{
    background-color: #161616;
    font-family: $Poppins;

    a {
        text-decoration: none;
        color: white;
        font-weight: 300;
       }

}



.footer1{
    background-color: #000000;
    font-family: $Poppins;
    color: white;
    a {
        text-decoration: none;
        color: white;
       }

}

.botonvolador{
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-family: $Poppins;
    text-align: center;

    

    .whatsapp-btn {
    display: flex;
    flex-direction: column; // icono arriba
    align-items: center;

    text-decoration: none;
    color: #000;
    line-height: 2;
  }

    i {
    background-color: #25D366;
    color: white;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
    font-size: 24px;
  }

}

.fondobla{
    background: rgba(255, 255, 255, 0.30); // blanco transparente
    backdrop-filter: blur(10px); // efecto glass moderno
    border-radius: 24px;
}



/*-------------------------------------------------------------- 

# Estilos Scroll 

--------------------------------------------------------------*/ 

body::-webkit-scrollbar { 
width: 10px; 
    background: #161616; 
  } 

  body::-webkit-scrollbar-thumb { 
    //background: white, 0.2;
   border-radius: 10px; 
   border-right: 10px solid #ffffff; 
  } 
  